[submodule "pico-fido"]
	path = pico-fido
	url = https://github.com/jgsjnr/pico-fido.git
	branch = main
[submodule "pico-openpgp"]
	path = pico-openpgp
	url = https://github.com/jgsjnr/pico-openpgp.git
	branch = main
[submodule "pico-keys-sdk"]
	path = pico-keys-sdk
	url = https://github.com/jgsjnr/pico-keys-sdk.git
	branch = main
